@charset "UTF-8";

body {
    background-color: rgb(25, 25, 32);
}

nav {
    background-color: #fff;
    margin: auto;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 5px;
}

main {
    background-color: #fff;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
}